{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon"  href="{% static 'icon/icon.png' %}"/>
  <title>COVID </title>
     <link rel="stylesheet" href="{% static 'css/user.css' %}">
</head>

<body>
          <nav class="nav">
            <div class="container">
              <div class="logo">
                <a >salem clinic</a>
              </div>
              <div id="mainListDiv" class="main_list">
                <ul class="navlinks">
                  <li><a href="/report/">REPORTS</a></li>
                  <li><a href="/details/">DETAILS</a></li>
                  <li><a href="#datas">STATS</a></li>
                  <li><a href="/admin/">ADMIN PAGE</a></li>
                  <li><a href="/users/logout/">LOGOUT</a></li>
                </ul>
              </div>
              <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
              </span>
            </div>
          </nav>

           <section class="home">
           </section>

           <div  class="stats" id="datas">
             
            <div>
                 <h1>LOGGED IN AS {{user}}</h1>
                 <h1>STATS</h1>
                 <h1>TOTAL REPORTS : {{counts}}</h1>
                  <h1>PENDING REPORTS : {{pen}}</h1>
                  <h1>RECORD SUBMIITED BY YOU : {{rec}}</h1>
            </div>

               
          </div>


</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
  $('.navTrigger').click(function () {
  $(this).toggleClass('active');
  console.log("Clicked menu");
  $("#mainListDiv").toggleClass("show_list");
  $("#mainListDiv").fadeIn();

  });

</script>

    <script>
      $(window).scroll(function () {
        if ($(document).scrollTop() > 50) {
          $('.nav').addClass('affix');
        } else {
          $('.nav').removeClass('affix');
        }
      });
    </script>
</html>