{% extends 'patients/layout.html' %} {% block body %}
<div class="wrapper">
  <h1>Patient details</h1>
  <hr />
  <p>
    <ol>
      {% for i in details %}
      <li>
        <h2>Patient {{ i.name }}</h2>
        <label for="name">Name: {{ i.name }}</label><br />
        <label for="mobile">Mobile: {{ i.mobile }}</label><br />
        <label for="name">Sex: {{ i.sex }}</label><br />
        <label for="name">Age: {{ i.age }}</label><br />
        <label for="name">Saturation level: {{ i.saturation_level }}</label><br />
        <label for="name">Heart rate: {{ i.heart_rate }}</label><br />
        <label for="name">Symptoms: {{ i.symptoms }}</label><br />
        <br><hr>
      </li>
      {% endfor %}
    </ol>
  </p>
</div>
{% endblock body %}
