{% extends 'patients/layout.html' %} {% block body %}
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="screen-body-item">
    <div class="app-form app-form-group">
      {{ form.as_p }}
      <div class="app-form-group buttons">
        <button class="app-form-button">Submit</button>
        {% for i in messages %}
      <p style="  color: #ffa4bd;ont-family: 'Roboto Condensed', sans-serif; font-size: 16px; ">{{i}}</p>
        {% endfor %}
      </div>


    </div>

  </div>
</form>

{% endblock body %}
