{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinic</title>
    <link rel="stylesheet" type="text/css" href="{% static 'patients/layout.css' %}" />
    <link rel="shortcut icon"  href="{% static 'icon/icon.png' %}"/>
</head>
<body>

<header>
    <div class="header-wrapper">
        <nav>
            <a href="/">Home</a>
            <a href="/view">View Results</a>
            <a href="/form">Form</a>
        </nav>
    </div>
</header>

<div class="background">
  <div class="container">
    <div class="screen">
      <div class="screen-header">
        <div class="screen-header-left">
        </div>
        <div class="screen-header-right">
        </div>
      </div>
      <div class="screen-body">
        <div class="screen-body-item left">
          <div class="app-title">
            <span></span>
            <span></span>
          </div>
        </div>

      {% block body %} {% endblock body %}

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>      



</div>
</body>
</html>