{% extends 'patients/layout.html' %} {% block body %}

<div class="wrapper">
  <form method="post">
    <h1>Enter Message</h1>
    <hr />
    {% csrf_token %}
    <select name="number" required>
      <option value="">None</option>
      {% for i in details %}
      <option value="{{ i }}">{{ i }}</option>
      {% endfor %}
    </select>

    <div>
      {{ form.as_p }}
      <div class="app-form-group buttons">
        <button type="submit" class="app-form-button">Submit</button>
      </div>
    </div>
  </form>
</div>
<div class="message">
  {% for message in messages %}
  <p>{{message}}</p>
</div>
{% endfor %} {% endblock body %}
