{% extends 'patients/layout.html' %} {% block body %}

<h2>Add message:</h2>
<form  method="post">
  {% csrf_token %}
  <select name="number" required>
    <option value="">None</option>
    {% for i in details %}
    <option value="{{ i }}">{{ i }}</option>
    {% endfor %}
  </select>

  <div>
        {{ form.as_ul }}
        <button class="button" type="submit" >submit</button>
    </div>
</form>

  {% for message in messages %}
                <p>{{message}}</p>
  {% endfor %}

{% endblock body %}